/* * {
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
  height: 100%;
}

body {
 
}
main {
  display: flex;
  justify-content: center;
  justify-self: center;
}
#login {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3%;
  width: 100%;
  max-width: 500px;
  height: 300px;
}
#wrapper {
  display: flex;
  justify-content: space-between;
} */
html,
body {
  height: 100%;
  /* font-family: "Lato", sans-serif; */
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0;
  background: #eee url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: auto;
  background: #fff;
  /* border: 1px solid #eee; */
  border-radius: 3%;
  width: 100%;
  /* max-width: 500px;
  height: 300px; */
  max-width: 900px;
  height: 500px;
}

.flex-item {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  border-radius: 3%;
}
.formwrapper {
  /* height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 700px;
}

.imagewrapper {
  margin: 0;
  background: #eee url("../images/981.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 0% 3% 3% 0%;
}
.formTitle h2 {
  text-align: center;
  color: #7b31c6;
  /* font-weight: bold; */
  font-size: 1.8rem;
}

.form-element {
  margin: 2%;
}
.form-element input {
  height: 45px;
  width: 320px;
  border: 1px solid #d6d6d6;
  border-radius: 2%;
  font-size: 20px;
  padding-left: 5%;
}
input:focus {
  outline-style: none;
}
input::placeholder {
  color: rgb(207, 205, 205);
  font-size: 15px;
}
.form-element input::hover {
  background: #608cef;
}

.form-element .btn {
  width: 150px;
  border: none;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(64, 84, 178, 1) 0%,
    rgba(219, 2, 234, 1) 90%
  );
  border-radius: 3%;
  color: #eee;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  transition: all ease 0.5s;
}

.form-element .btn:hover {
  -webkit-box-shadow: 10px 13px 14px 5px rgba(227, 224, 227, 1);
  -moz-box-shadow: 10px 13px 14px 5px rgba(227, 224, 227, 1);
  box-shadow: 5px 5px 7px 2px rgba(227, 224, 227, 1);
}

.form-element a {
  float: right;
  margin-top: 2%;
}
